.nav-search .ui-btn-up-a {
    background-image: none;
    background-color: #333;
}
.nav-search .ui-btn-inner {
    border-top: 1px solid #888;
    border-color: rgba(255, 255, 255, .1);
}
.nav-search .ui-btn.ui-first-child {
    border-top-width: 0;
    background: #111;
}
.userform {
    padding: .8em 1.2em;
}
.userform h2 {
    color: #555;
    margin: 0.3em 0 .8em 0;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.userform label {
    display: block;
    margin-top: 1.2em;
}
.ui-grid-a {
    margin-top: 1em;
    padding-top: .8em;
    margin-top: 1.4em;
    border-top: 1px solid rgba(0,0,0,.1);
}